<mat-toolbar>
    <span>Permission details</span>
      <span class="example-spacer"></span>
      <button mat-stroked-button [routerLink]="'/permissions'">Back to Permission</button>
    </mat-toolbar>
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>Permission Type</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>This card indeterminates progress bar.</p>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>Module</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Users</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>Description</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>This approach is neater because it clearly separates the route path and the route parameters, making the code more readable. It also avoids string concatenation, which can be error-prone and harder to maintain.
          </p>
        </mat-card-content>
      </mat-card>
      
      