<mat-toolbar>
    <span>Manage Permissions</span>
      <span class="example-spacer"></span>
      <button mat-stroked-button [routerLink]="'/permissions'">Back to Permission</button>
    </mat-toolbar>
    <div class="neumorphic-form">
        <form class="example-form">
            <h1 class="form-heading">Add Permission</h1>
          <mat-form-field class="input-group">
            <mat-label>Permission</mat-label>
            <input matInput placeholder="Enter your username" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" class="btn-block">Add</button>
        </form>
      </div>
      