<div class="root">
    <mat-card class="paper">
        <div class="header">
            <h1>Forgot Password</h1>
                      <!--<img src="path_to_your_image" alt="Logo" class="logo">--> 
                      <p class="instructions">
                        Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.
                    </p>
                    </div>

        <form>
            <mat-form-field appearance="outline" class="mat-form-field ">
                <mat-label>Username</mat-label>
                <input matInput placeholder=""  type="text" name="username">
            </mat-form-field>
            <div class="button-container">
                <button mat-raised-button color="primary" class="full-width-button" type="submit">Reset Password</button>
              </div>
        </form>
        <div class="button-container">
            <button mat-raised-button color="basic" class="full-width-button" (click)="goToLogin()">Back</button>
          </div>
    </mat-card> 
</div>