<div class="root">
    <mat-card class="paper">
        <div class="header">
            <h1>Forgot Password</h1>
                      <!--<img src="path_to_your_image" alt="Logo" class="logo">--> 
                      <p class="instructions">
                        Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.
                    </p>
                    </div>

        <form>
            <mat-form-field appearance="outline" class="mat-form-field ">
                <mat-label>Username</mat-label>
                <input matInput placeholder=""  type="text" name="username">
            </mat-form-field>

            <!-- <mat-form-field appearance="outline" class="mat-form-field ">
                <mat-label>Password</mat-label>
                <input matInput placeholder="" type="password" name="password">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field> -->
            <!-- <div class="row">
                <mat-checkbox class="remember-checkbox">Remember Me</mat-checkbox>
                <a href="#" class="forgot-password">Forgot Password</a>
              </div> -->
            <div class="button-container">
                <button mat-raised-button color="primary" class="full-width-button" type="submit">Reset Password</button>
              </div>
        </form>
    </mat-card> 
</div>