<mat-toolbar>
    <span>Assign User Roles</span>
    <span class="example-spacer"></span>
    <button mat-stroked-button [routerLink]="'/users'">Back to Users</button>
</mat-toolbar>

<section class="example-section">
    <p><strong>User Name:</strong> {{ responseData?.userName }}</p>
    <p><strong>Email:</strong> {{ responseData?.email }}</p>
    <!-- Separate "Assign All" checkbox -->
    <div class="assign-all-section">
        <mat-checkbox class="assign-all-checkbox" [checked]="task().completed" [indeterminate]="partiallyComplete()"
            (change)="update($event.checked)">
            {{ task().name }}
        </mat-checkbox>
    </div>
    <!-- Container for other checkboxes -->
    <div class="example-list-section">
        <div class="checkbox-container">
            <div *ngFor="let subtask of task().subtasks; let i = index" class="checkbox-item">
                <mat-checkbox [checked]="subtask.completed" (change)="update($event.checked, i)">
                    {{ subtask.name }}
                </mat-checkbox>
            </div>
        </div>
    </div>

    <div class="update-button-section">
        <button mat-raised-button color="primary" (click)="onUpdate()">Update</button>
        <button mat-raised-button color="warn" [routerLink]="'/users'">Cancel</button>
    </div>
</section>