<div class="">
  <main class="main">
    <div class="main-header">
      <div class="main-header__intro-wrapper">
        <div class="main-header__welcome">
          <div class="main-header__welcome-title text-light">Welcome, <strong>Matthew</strong></div>
          <div class="main-header__welcome-subtitle text-light">{{ currentDate | date:'fullDate' }}</div>
        </div>
        <!-- <div class="quickview">
          <div class="quickview__item">
            <div class="quickview__item-total">41</div>
            <div class="quickview__item-description">
              <i class="far fa-calendar-alt"></i>
              <span class="text-light">Events</span>
            </div>
          </div>
          <div class="quickview__item">
            <div class="quickview__item-total">64</div>
            <div class="quickview__item-description">
              <i class="far fa-comment"></i>
              <span class="text-light">Messages</span>
            </div>
          </div>
          <div class="quickview__item">
            <div class="quickview__item-total">27&deg;</div>
            <div class="quickview__item-description">
              <i class="fas fa-map-marker-alt"></i>
              <span class="text-light">Austin</span>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </main>
</div>




  <div class="flexbox-container">

      <!-- HOME -->
      <a href="https://www.samaritanspurse.org">
          <div class="app-card" id="home-card-color">
              <div class="image-container" id="home-icon"></div>
              <div class="text-container">
                  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                      <div class="flipper">
                          <div class="front">
                              <p class="title">Home</p>
                          </div>
                          <div class="back">
                              <p class="description">Return to the OCC Extranet home screen</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </a>

      <!-- DOCUMENT RESOURCES -->
      <a href="https://www.samaritanspurse.org">
          <div class="app-card" id="document-resources-card-color">
              <div class="image-container" id="document-resources-icon"></div>
              <div class="text-container">
                  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                      <div class="flipper">
                          <div class="front">
                              <p class="title">Document Resources</p>
                          </div>
                          <div class="back">
                              <p class="description">Search &amp; download all available documents</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </a>

      <!-- DROP-OFF LOCATION MANAGEMENT -->
      <a href="https://www.samaritanspurse.org">
          <div class="app-card" id="drop-off-location-management-card-color">
              <div class="image-container" id="drop-off-location-management-icon"></div>
              <div class="text-container">
                  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                      <div class="flipper">
                          <div class="front">
                              <p class="title">Drop-off Location Management</p>
                          </div>
                          <div class="back">
                              <p class="description">Access all materials for your drop-off location</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </a>

      <!-- LEADER INBOX -->
      <a href="https://www.samaritanspurse.org">
          <div class="app-card" id="leader-inbox-card-color">
              <div class="image-container" id="leader-inbox-icon"></div>
              <div class="text-container">
                  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                      <div class="flipper">
                          <div class="front">
                              <p class="title">Leader Inbox</p>
                          </div>
                          <div class="back">
                              <p class="description">View and respond to your notices</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </a>

      <!-- MY PROFILE SETTINGS -->
      <a href="https://www.samaritanspurse.org">
          <div class="app-card" id="my-profile-settings-card-color">
              <div class="image-container" id="my-profile-settings-icon"></div>
              <div class="text-container">
                  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                      <div class="flipper">
                          <div class="front">
                              <p class="title">My Profile Settings</p>
                          </div>
                          <div class="back">
                              <p class="description">Reset your password and configure your settings</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </a>

      <!-- NATIONAL PARTNERSHIP RESOURCES -->
      <a href="https://www.samaritanspurse.org">
          <div class="app-card" id="national-partnership-resources-card-color">
              <div class="image-container" id="national-partnership-resources-icon"></div>
              <div class="text-container">
                  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                      <div class="flipper">
                          <div class="front">
                              <p class="title">National Partnership Resources</p>
                          </div>
                          <div class="back">
                              <p class="description">View &amp; download national partnership materials</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </a>

      <!-- RECOMMITMENT DASHBOARD -->
      <a href="https://www.samaritanspurse.org">
          <div class="app-card" id="recommitment-dashboard-card-color">
              <div class="image-container" id="recommitment-dashboard-icon"></div>
              <div class="text-container">
                  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                      <div class="flipper">
                          <div class="front">
                              <p class="title">Recommitment Dashboard</p>
                          </div>
                          <div class="back">
                              <p class="description">Manage volunteer recommitment processes here</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </a>

      <!-- REPORTING CENTER -->
      <a href="https://www.samaritanspurse.org">
          <div class="app-card" id="reporting-center-card-color">
              <div class="image-container" id="reporting-center-icon"></div>
              <div class="text-container">
                  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                      <div class="flipper">
                          <div class="front">
                              <p class="title">Reporting Center</p>
                          </div>
                          <div class="back">
                              <p class="description">View, approve &amp; submit your reports</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </a>

      <!-- VIDEO RESOURCES -->
      <a href="https://www.samaritanspurse.org">
          <div class="app-card" id="video-resources-card-color">
              <div class="image-container" id="video-resources-icon"></div>
              <div class="text-container">
                  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                      <div class="flipper">
                          <div class="front">
                              <p class="title">Video Resources</p>
                          </div>
                          <div class="back">
                              <p class="description">View &amp; download promotional and support videos</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </a>

      <!-- VOLUNTEER SELECTION & ONBOARDING -->
      <a href="https://www.samaritanspurse.org">
          <div class="app-card" id="volunteer-selection-ampersand-onboarding-card-color">
              <div class="image-container" id="volunteer-selection-ampersand-onboarding-icon"></div>
              <div class="text-container">
                  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                      <div class="flipper">
                          <div class="front">
                              <p class="title">Volunteer Selection &amp; Onboarding</p>
                          </div>
                          <div class="back">
                              <p class="description">Manage each step of the volunteer application process</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </a>
  </div>



