<div class="password-set-container">
    <h2 class="form-heading"> {{ data ? 'Update Role' : 'Add New Role' }}</h2>
    <form [formGroup]="addRoleForm" (ngSubmit)="submitForm()">
      <mat-form-field class="full-width">
        <mat-label>Role Name</mat-label>
        <input matInput  formControlName="roleName" required name="roleName">
      </mat-form-field>
      <mat-checkbox formControlName="isDeleted">Is Active</mat-checkbox>
      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea  matInput  formControlName="description" required name="description"></textarea>
      </mat-form-field>
  
      <div class="button-section">
        <button mat-raised-button color="primary" type="submit" class="full-button">{{ data ? 'Update Role' : 'Add New Role' }}</button>
        <button mat-raised-button color="warn" type="button" class="full-button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
  