<div class="password-set-container">
    <h2 class="form-heading">Reset Password</h2>
    <form [formGroup]="resetPassword" (ngSubmit)="submitForm()">
      <mat-form-field class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput  formControlName="newPassword" required name="newPassword">
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput  formControlName="confirmPassword" required name="confirmPassword">
      </mat-form-field>
  
      <div class="button-section">
        <button mat-raised-button color="primary" type="submit" class="full-button">Set Password</button>
        <button mat-raised-button color="warn" class="full-button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
  