<mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>YouTube</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>videocam</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>apps</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <button  mat-icon-button [matMenuTriggerFor]="accountMenu">
      <mat-icon class="colorful-icon">account_circle</mat-icon>
    </button>
    <mat-menu class="custom-menu" #accountMenu="matMenu">
      <button mat-menu-item class="custom-menu-item">
        <mat-icon>account_circle</mat-icon>
        <span>My Channel</span>
      </button>
      <button mat-menu-item class="custom-menu-item">
        <mat-icon>video_library</mat-icon>
        <span>My Videos</span>
      </button>
      <button mat-menu-item class="custom-menu-item">
        <mat-icon>history</mat-icon>
        <span>History</span>
      </button>
      <button mat-menu-item class="custom-menu-item">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item class="custom-menu-item"  (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign Out</span>
      </button>
    </mat-menu>
  </mat-toolbar>
   