<div class="sidebar">
    <button mat-button>
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button>
      <mat-icon>whatshot</mat-icon>
      <span>Trending</span>
    </button>
    <button mat-button>
      <mat-icon>subscriptions</mat-icon>
      <span>Subscriptions</span>
    </button>
    <button mat-button>
      <mat-icon>video_library</mat-icon>
      <span>Library</span>
    </button>
    <button mat-button>
      <mat-icon>history</mat-icon>
      <span>History</span>
    </button>
    <button mat-button>
      <mat-icon>watch_later</mat-icon>
      <span>Watch Later</span>
    </button>
    <button mat-button>
      <mat-icon>thumb_up</mat-icon>
      <span>Liked Videos</span>
    </button>
    <hr>
    <h4>Subscriptions</h4>
    <button mat-button>
      <mat-icon>fiber_manual_record</mat-icon>
      <span>Channel 1</span>
    </button>
    <button mat-button>
      <mat-icon>fiber_manual_record</mat-icon>
      <span>Channel 2</span>
    </button>
    <button mat-button>
      <mat-icon>fiber_manual_record</mat-icon>
      <span>Channel 3</span>
    </button>
  </div>