/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Hide scrollbar track */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  /* Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  
  /* On hover, make the thumb slightly more opaque */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  /* Hide scrollbar buttons (up/down arrows) */
  ::-webkit-scrollbar-button {
    display: none;
  }
  
  /* Style the scrollbar track when scrolled */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }


  body {
    margin: 0;
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff; }

    hr {
      box-sizing: content-box;
      height: 0;
      overflow: visible; }
    
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      margin-bottom: 0.5rem; }
    
    p {
      margin-top: 0;
      margin-bottom: 1rem; }

      button{
        font-size: 13px;
      }
  



  /* Padding  */

      .p0 {
        padding: 0 !important;
      }
      
      .p1 {
        padding: 4px !important;
      }
      
      .p2 {
        padding: 8px !important;
      }
      
      .p3 {
        padding: 12px !important;
      }
      
      .p4 {
        padding: 16px !important;
      }
      
      .p5 {
        padding: 20px !important;
      }
      
      .p6 {
        padding: 24px !important;
      }
      
      .p7 {
        padding: 28px !important;
      }
      
      .p8 {
        padding: 32px !important;
      }
      
      .p9 {
        padding: 36px !important;
      }
      
      .p10 {
        padding: 40px !important;
      }
      

  /* Margin right  */
      .mr0 {
        margin-right: 0 !important;
      }
      
      .mr1 {
        margin-right: 4px !important;
      }
      
      .mr2 {
        margin-right: 8px !important;
      }
      
      .mr3 {
        margin-right: 12px !important;
      }
      
      .mr4 {
        margin-right: 16px !important;
      }
      
      .mr5 {
        margin-right: 20px !important;
      }
      
      .mr6 {
        margin-right: 24px !important;
      }
      
      .mr7 {
        margin-right: 28px !important;
      }
      
      .mr8 {
        margin-right: 32px !important;
      }
      
      .mr9 {
        margin-right: 36px !important;
      }
      
      .mr10 {
        margin-right: 40px !important;
      }
      