/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Hide scrollbar track */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  /* Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  
  /* On hover, make the thumb slightly more opaque */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  /* Hide scrollbar buttons (up/down arrows) */
  ::-webkit-scrollbar-button {
    display: none;
  }
  
  /* Style the scrollbar track when scrolled */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  